
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="text-center">
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">RẤT TIẾC, TRANG BẠN TÌM KIẾM KHÔNG TỒN TẠI !</h2> 
</div>

