@model ASP.NETCORE_PROJECT.Models.Product

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="product_id" />
            <div class="form-group">
                <label asp-for="product_name" class="control-label"></label>
                <input asp-for="product_name" class="form-control" />
                <span asp-validation-for="product_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_cpu" class="control-label"></label>
                <input asp-for="product_cpu" class="form-control" />
                <span asp-validation-for="product_cpu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_feature" class="control-label"></label>
                <input asp-for="product_feature" class="form-control" />
                <span asp-validation-for="product_feature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_origin" class="control-label"></label>
                <input asp-for="product_origin" class="form-control" />
                <span asp-validation-for="product_origin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_face" class="control-label"></label>
                <input asp-for="product_face" class="form-control" />
                <span asp-validation-for="product_face" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_sim" class="control-label"></label>
                <input asp-for="product_sim" class="form-control" />
                <span asp-validation-for="product_sim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_ram" class="control-label"></label>
                <input asp-for="product_ram" class="form-control" />
                <span asp-validation-for="product_ram" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_storage" class="control-label"></label>
                <input asp-for="product_storage" class="form-control" />
                <span asp-validation-for="product_storage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_screen" class="control-label"></label>
                <input asp-for="product_screen" class="form-control" />
                <span asp-validation-for="product_screen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_graphiccard" class="control-label"></label>
                <input asp-for="product_graphiccard" class="form-control" />
                <span asp-validation-for="product_graphiccard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_operatingsystem" class="control-label"></label>
                <input asp-for="product_operatingsystem" class="form-control" />
                <span asp-validation-for="product_operatingsystem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_size_volume" class="control-label"></label>
                <input asp-for="product_size_volume" class="form-control" />
                <span asp-validation-for="product_size_volume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_frontcamera" class="control-label"></label>
                <input asp-for="product_frontcamera" class="form-control" />
                <span asp-validation-for="product_frontcamera" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_backcamera" class="control-label"></label>
                <input asp-for="product_backcamera" class="form-control" />
                <span asp-validation-for="product_backcamera" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_battery" class="control-label"></label>
                <input asp-for="product_battery" class="form-control" />
                <span asp-validation-for="product_battery" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_description" class="control-label"></label>
                <input asp-for="product_description" class="form-control" />
                <span asp-validation-for="product_description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_quantity" class="control-label"></label>
                <input asp-for="product_quantity" class="form-control" />
                <span asp-validation-for="product_quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_yearofmanufacturer" class="control-label"></label>
                <input asp-for="product_yearofmanufacturer" class="form-control" />
                <span asp-validation-for="product_yearofmanufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_price" class="control-label"></label>
                <input asp-for="product_price" class="form-control" />
                <span asp-validation-for="product_price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_color" class="control-label"></label>
                <input asp-for="product_color" class="form-control" />
                <span asp-validation-for="product_color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_image" class="control-label"></label>
                <input asp-for="product_image" class="form-control" />
                <span asp-validation-for="product_image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_typeid" class="control-label"></label>
                <select asp-for="product_typeid" class="form-control" asp-items="ViewBag.product_typeid"></select>
                <span asp-validation-for="product_typeid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_cateid" class="control-label"></label>
                <select asp-for="product_cateid" class="form-control" asp-items="ViewBag.product_cateid"></select>
                <span asp-validation-for="product_cateid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_brandid" class="control-label"></label>
                <select asp-for="product_brandid" class="form-control" asp-items="ViewBag.product_brandid"></select>
                <span asp-validation-for="product_brandid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
